<div class="header-wrap">
    <header class="header container row clearfix">
        <div class="column full">
            <h1><a href="{{ site.url }}">{{ site.owner.name }}</a></h1>
            <ul id="nav">
                <li {% if page.permalink == null %}class="selected"{% endif %}><a href="{{ site.url }}">Blog</a></li>
                <li {% if page.permalink == '/about/' %}class="selected"{% endif %}><a href="{{ site.url }}/about">About</a></li>
            </ul>
        </div>
    </header>
</div>
