<div class="header-wrap">
    <header class="header container">
        <h1><a href="{{ site.url }}">{{ site.owner.name }}</a> <span class="symbol">&#x2736;</span></h1>
        <nav>
            <ul class="top">
                <li>
                    <a class="current" href="{{ site.url }}">Blog</a>
                    <ul class="sub">
                        <li><a href="{{ site.url }}/posts">All Posts</a></li>
                        <li><a href="{{ site.url }}/categories">All Categories</a></li>
                        <li><a href="{{ site.url }}/tags">All Tags</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.url }}/about">About</a></li>
            </ul>
        </nav>
    </header>
</div>
