<div class="header-wrap">
    <header class="header container">
        <h1><a href="{{ site.url }}">{{ site.owner.name }}</a> <span class="symbol">&#x2736;</span></h1>
        <!--
        <ul id="nav" style="display: none">
            <li {% if page.permalink == null %}class="selected"{% endif %}><a href="{{ site.url }}">Blog</a></li>
            <li {% if page.permalink == '/about/' %}class="selected"{% endif %}><a href="{{ site.url }}/about">About</a></li>
        </ul>
		-->
    </header>
</div>
