/*
 * Nav
 *
 */

#nav {
    @include horizontal-list(0);
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -10px;
    a {
        @include link-colors($nav-link-color, $nav-link-hover-color);
        display: block;
        padding: 3px 12px;
        text-decoration: none;
    }
    .selected a {
        @include border-radius(3px);
        @include link-colors($nav-current-link-color, $nav-current-link-hover-color);
        background: $nav-current-link-bg-color;
    }
}

// Mobile
.tinynav {
    display: block;
    width: 100%;
    margin-top: 2rem;
}

#nav {
    display: none;
}

// Desktop
@media (min-width: 38rem) {
    .tinynav {
        display: none;
    }
    #nav {
        display: block;
    }
}
