a {
    @include link-colors($link-color, $link-hover-color);
}

/*
 * Headings
 *
 */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}


h2 {
    margin-top: 2rem;
    font-size: 2rem;
}
h3 {
    margin-top: 2.5rem;
}
h4, h5, h6 {
    margin-top: 2rem;
}
