@import "core";

/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    @media (min-width: 38rem) {
        font-size: 1rem;
    }
}

a {
    @include link-colors(#4ea58d, #f06878);
}

/*
 * Headings
 *
 */

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
}


h2 {
    margin-top: 2rem;
    font-size: 2rem;
}
h3 {
    margin-top: 2.5rem;
}
h4, h5, h6 {
    margin-top: 2rem;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
    max-width: 60rem;
    padding-left:  2rem;
    padding-right: 2rem;
}

/*
 * Header
 *
 */

.header-wrap {
    background: #a6d5c8;
    position: relative;
    margin-bottom: 3rem;
    &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        border-bottom: 1px dashed #fff;
        width: 100%;
    }
}

.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    h1 {
        font: normal 4rem 'Cookie', Helvetica, sans-serif;
        margin: 0;
        .symbol {
            color: #f88391;
            font-size: 2rem;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

/*
 * Featured image
 *
 */

.page-image {
    @include border-radius(3px);
    position: relative;
    overflow: hidden;
    max-height: 200px;
    margin-bottom: 2rem;
    .image-credit {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: .5rem .7rem;
        font-size: .75rem;
        color: #fff;
        background-color: rgba(34,34,34,0.5);
        text-align: right;
        a {
            color: #fff;
        }
    }
    img {
        margin: 0;
        width: 100%;
    }
}



/*
 * Footer
 *
 */

.footer-wrap {
    background: #a6d5c8;
    position: relative;
    margin-top: 3rem;
    color: #45776a;
    &:before {
        content: "";
        position: absolute;
        top: 2px;
        border-top: 1px dashed #fff;
        width: 100%;
    }
}

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    a {
        color: #fff;
    }
}

/*
 * Pagination
 *
 */

.pagination {
    @include horizontal-list(4px);
    list-style: none;
    padding: 0;
    margin-top: 4rem;
    li {
        height: 28px;
        line-height: 28px;
        text-align: center;
    }
    a, span {
        @include border-radius(3px);
        display: block;
        height: 28px;
        line-height: 28px;
        padding: 0 10px;
        background: #fdf4ec;
        color: #F6697A;
    }
    a:hover, .current {
        text-decoration: none;
        background: #a6d5c8;
        color: #fff;
    }
}

/*
 * Page heading
 *
 */

.page-heading {
    background: url("/public/images/dotted.png") left bottom repeat-x;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    h1 {
        margin: 0;
        color: #f06878;
        font-size: 2.5rem;
    }
    a {
        color: #f06878;
    }
    p {
        font-size: 1rem;
        margin: 0;
        margin-top: 10px;
    }
}

/*
 * Articles
 *
 */

.post-index article {
    background: url("/public/images/dotted.png") left bottom repeat-x;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    header {
        padding-bottom: 2rem;
        h2 {
            margin-top: 0;
            a {
                color: #f06878;
            }
        }
    }
}

/*
 * Social Share
 *
 */

.social-share {
    padding: 2rem 0;
}

.fb-share-button {
    vertical-align: top !important;
    height: 20px !important;
    span {
        vertical-align: top !important;
    }
}

/*
 * Disqus
 *
 */

#disqus_thread {
    background: url("/public/images/dotted.png") left top repeat-x;
    padding-top: 1.5rem;
}


/*
 * FitVids
 *
 */

.fluid-width-video-wrapper {
    margin-bottom: 1rem;
}

/*
 * Code Blocks
 *
 */

pre {
    overflow: auto;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;

    &::-webkit-scrollbar {
        height: 0.5rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        @include border-bottom-left-radius(6px);
        @include border-bottom-right-radius(6px);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        @include border-radius(6px);
        background: #ccc;
    }
}
