@import "core";

/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
    @media (min-width: 38rem) {
        font-size: 16px;
    }
}

/*
 * Container
 *
 * Center the page content.
 */

.container {
    max-width: 60rem;
    padding-left:  2rem;
    padding-right: 2rem;
}

/*
 * Header
 *
 */

.header-wrap {
    background: #a6d5c8;
    position: relative;
    margin-bottom: 3rem;
    &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        border-bottom: 1px dashed #fff;
        width: 100%;
    }
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    h1 {
        font: normal 4rem 'Cookie', Helvetica, sans-serif;
        margin: 0;
        .symbol {
            color: #f88391;
            font-size: 2rem;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

/*
 * Footer
 *
 */

.footer-wrap {
    background: #a6d5c8;
    position: relative;
    margin-top: 3rem;
    color: #45776a;
    &:before {
        content: "";
        position: absolute;
        top: 2px;
        border-top: 1px dashed #fff;
        width: 100%;
    }
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    a {
        color: #fff;
    }
}

/*
 * Pagination
 *
 */

.pagination {
    @include horizontal-list(4px);
    list-style: none;
    padding: 0;
    margin-top: 80px;
}

.pagination li {
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.pagination a, .pagination span {
    @include border-radius(3px);
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    background: #fdf4ec;
    color: #F6697A;
}

.pagination a:hover, .pagination .current {
    text-decoration: none;
    background: #a6d5c8;
    color: #fff;
}

/*
 * Page heading
 *
 */

.page-heading {
    background: url("/images/dotted.png") left bottom repeat-x;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.page-heading h1,
.page-heading h2 {
    margin: 0;
}


.page-heading h1 {
    color: #f06878;
    font-size: 2.5rem;
}
.page-heading h2 {
    font-size: 1rem;
    margin-top: 10px;
}
