$body-color: #515151;

$header-bg-color: #a6d5c8;
$header-color: #fff;
$header-symbol: "✶";
$header-symbol-color: #f88391;


$footer-bg-color: #a6d5c8;
$footer-color: #45776a;
$footer-link-color: #fff;

$aside-title-bg-color: #f88391;
$aside-title-color: #fff;

$link-color: #4ea58d;
$link-hover-color: #f06878;

$pagination-color: #f6697a;
$pagination-bg-color: #fdf4ec;
$pagination-current-color: #fff;
$pagination-current-bg-color: #a6d5c8;

$nav-link-color: #fff;
$nav-link-hover-color: #4ea58d;
$nav-current-link-bg-color: #f88391;
$nav-current-link-color: #fff;
$nav-current-link-hover-color: #ffe605;

$tags-bg-color: #a6d5c8;
$tags-color: #fff;
$tags-hover-bg-color: #f88391;

