$body-color: #444;

$header-bg-color: #222;
$header-color: #fff;
$header-symbol: "☁";
$header-symbol-color: #fff;


$footer-bg-color: #222;
$footer-color: #aaa;
$footer-link-color: #fff;

$aside-title-bg-color: transparent;
$aside-title-color: #000;

$link-color: #e92a0b;
$link-hover-color: #444;

$pagination-color: #bbb;
$pagination-bg-color: #222;
$pagination-current-color: #000;
$pagination-current-bg-color: #ffe605;

$nav-link-color: #bbb;
$nav-link-hover-color: #fff;
$nav-current-link-bg-color: #fff;
$nav-current-link-color: #000;
$nav-current-link-hover-color: #000;

$tags-bg-color: #333;
$tags-color: #fff;
$tags-hover-bg-color: #666;

