<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    {% include head.html %}

    <body>

        {% include browse_happy.html %}

        <div id="root">
            {% include header.html %}

            <div class="container content">

                <div class="row clearfix">
                    <div class="column full">
                        <!-- Page title -->
                        <div class="page-heading">

                            {% if page.layoutname == 'post' %}

                                <!-- Post -->
                                {% if page.link %}
                                    <h1><a href="{{ page.link }}" rel="bookmark" title="{{ page.title }}">&raquo; {{ page.title }}</a></h1>
                                {% else %}
                                    <h1>{{ page.title }}</h1>
                                {% endif %}
                                <p>
                                    Posted on <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
                                    {% if page.modified %}
                                        (revised: <time datetime="{{ page.modified }}">{{ page.modified | date: "%B %d, %Y" }}</time>)
                                    {% endif %}

                                    {% if page.categories.size > 0 %}
                                        in
                                        {% for category in page.categories %}
                                            <a href="{{ site.url }}/categories/#{{ category }}" title="{{ category | capitalize }}">{{ category | capitalize }}</a>
                                            {% unless forloop.last %}, {% endunless %}
                                        {% endfor %}
                                    {% endif %}

                                    {% if page.tags.size > 0 %}
                                        &bull; Tagged as
                                        {% for tag in page.tags %}
                                            <a href="{{ site.url }}/tags/#{{ tag }}">#{{ tag }}</a>
                                            {% unless forloop.last %}, {% endunless %}
                                        {% endfor %}
                                    {% endif %}
                                </p>

                            {% else %}

                                <!-- Other -->
                                <h1>{{ page.title }}</h1>

                            {% endif %}

                        </div>

                        <!-- Page image -->
                        {% if page.image.feature %}
                            <div class="page-image">
                                {% if page.image.credit %}
                                    <div class="image-credit">Image source: {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}">{% endif %}{{ page.image.credit }}{% if page.image.creditlink %}</a>{% endif %}</div>
                                {% endif %}
                                <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}">
                            </div>
                        {% endif %}
                    </div>
                </div>

                {{ content }}
            </div>
            <div id="push-footer"></div>
        </div>

        {% include footer.html %}

        {% include scripts.html %}

    </body>
</html>
