<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    {% include head.html %}

    <body>

        {% include browse_happy.html %}

        {% if page.image.feature %}
            <div class="entry-header">
                {% if page.image.credit %}
                    <div class="image-credit">Image source: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></div>
                {% endif %}
                <div class="entry-image">
                    <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }}">
                </div>
            </div>
        {% endif %}

        <!-- Add your site or application content here -->
        <div class="container content">
            <!--
            <div class="masthead">
                <h3 class="masthead-title">
                    <a href="/" title="Home">{{ site.title }}</a>
                    <small>{{ site.tagline }}</small>
                </h3>
            </div>
            -->

            {{ content }}

            <div class="footer-wrapper">
                <footer role="contentinfo">
                    {% include footer.html %}
                </footer>
            </div>
        </div>

        {% include scripts.html %}

    </body>
</html>
