---
layout: default
layoutname: page
---

<div id="main" role="main" class="row clearfix">
    {{ content }}

    {% if page.share %}
         <div class="social-share">
            <!-- Twitter -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.owner.twitter }}">Tweet</a>

            <!-- Google + -->
            <g:plusone size="medium"></g:plusone>

            <!-- Facebook -->
            <div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-type="button_count"></div>
        </div>
    {% endif %}
</div>

